venv
__pycache__
.ipynb_checkpoints
model_base_14M.pth
model_vqa.pth
annotation
images
vqa_sample
gqa_sample
gqa_20k_subset.json
foildataset_10k.json
foildataset_10k_modified.json
vqa_20k_subset.json
model_base_nlvr.pth
